In [3]:
# FF3 template , data from 'Kenneth R. French - Data Library'
P100 = pd.read_csv('C:/Users/jessi/Desktop/PeterLin/NC State U/Semester 2/FIM590_data/crossSectionalRegression_data&rCodes/valueWeighted100_Portfolios_10x10_Daily.csv')
FF3 = pd.read_csv('C:/Users/jessi/Desktop/PeterLin/NC State U/Semester 2/FIM590_data/crossSectionalRegression_data&rCodes/F-F_Research_Data_Factors_daily.csv')

FF3 = FF3.dropna()
P100 = P100.where(P100.iloc[:,:]!=-99.99)
P100['date'] = pd.to_datetime(P100['date'], format='%Y%m%d', errors='ignore')
FF3['date'] = pd.to_datetime(FF3['date'], format='%Y%m%d', errors='ignore')
FF3 = FF3.rename(columns={"Mkt-RF": "Mkt_RF"})

In [6]:
P100

,date,SMALL_LoBM,ME1_BM2,ME1_BM3,ME1_BM4,ME1_BM5,ME1_BM6,ME1_BM7,ME1_BM8,ME1_BM9,...,BIG_LoBM,ME10_BM2,ME10_BM3,ME10_BM4,ME10_BM5,ME10_BM6,ME10_BM7,ME10_BM8,ME10_BM9,BIG_HiBM
0,1926-07-01,NaN,0.00,NaN,1.59,-3.08,4.64,2.57,3.81,-0.52,...,0.03,1.10,-0.15,-0.03,0.52,0.48,-0.37,-0.34,0.17,NaN
1,1926-07-02,NaN,-0.27,NaN,0.00,-0.97,-4.10,0.31,-0.47,2.74,...,0.31,0.71,0.97,0.57,0.52,0.15,0.53,0.34,0.34,NaN
2,1926-07-06,NaN,1.01,NaN,-4.69,2.35,-1.79,0.00,2.44,-5.18,...,0.49,-0.19,0.89,0.31,-0.12,-0.18,-0.32,-0.51,-0.34,NaN
3,1926-07-07,NaN,-1.67,NaN,4.92,0.51,5.27,0.00,-0.74,-0.24,...,-0.20,-0.01,0.66,0.38,0.03,0.25,-0.22,0.51,0.17,NaN
4,1926-07-08,NaN,0.00,NaN,1.56,-0.51,-1.06,0.00,4.90,0.45,...,0.56,-0.12,0.35,0.55,-0.14,0.19,-0.04,0.34,0.51,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24869,2020-11-23,0.79,6.08,0.46,2.48,1.50,3.15,1.24,1.80,0.99,...,-0.05,0.77,0.03,1.14,0.86,2.92,2.56,1.64,3.34,1.97
24870,2020-11-24,-0.40,-2.44,0.36,2.14,1.11,2.03,2.18,2.20,3.30,...,1.22,1.08,1.38,1.71,2.26,4.12,3.03,3.80,5.64,3.47
24871,2020-11-25,2.42,-0.67,0.42,1.59,1.87,0.11,1.05,0.01,-0.77,...,0.59,0.04,-0.19,-0.22,-0.33,-1.25,-1.32,-0.40,-0.17,-2.24
24872,2020-11-27,1.62,2.43,3.60,1.58,0.94,0.40,0.69,0.12,0.19,...,0.56,0.24,0.82,-0.08,0.39,-0.65,-0.07,-0.55,-0.21,0.10
24873,2020-11-30,0.05,-2.23,-0.53,-0.37,-0.74,1.82,-0.23,-1.13,-1.68,...,0.09,0.08,-0.48,-0.05,-1.41,-3.07,-2.03,-2.09,-2.72,-1.25

In [5]:
FF3

            date  Mkt_RF   SMB   HML     RF
0     1926-07-01    0.10 -0.24 -0.28  0.009
1     1926-07-02    0.45 -0.32 -0.08  0.009
2     1926-07-06    0.17  0.27 -0.35  0.009
3     1926-07-07    0.09 -0.59  0.03  0.009
4     1926-07-08    0.21 -0.36  0.15  0.009
...          ...     ...   ...   ...    ...
24869 2020-11-23    0.83  0.85  1.55  0.000
24870 2020-11-24    1.56 -0.15  2.74  0.000
24871 2020-11-25    0.03  0.01 -1.27  0.000
24872 2020-11-27    0.43  0.45 -1.66  0.000
24873 2020-11-30   -0.53 -0.98 -2.05  0.000

[24874 rows x 5 columns]

In [7]:
Rg = pd.merge(P100,FF3,how='left', on='date')
# minus RF
for i in range(1,101):
    Rg.iloc[:,i] = Rg.iloc[:,i] - Rg.iloc[:,104]

In [8]:
Rg

,date,SMALL_LoBM,ME1_BM2,ME1_BM3,ME1_BM4,ME1_BM5,ME1_BM6,ME1_BM7,ME1_BM8,ME1_BM9,...,ME10_BM5,ME10_BM6,ME10_BM7,ME10_BM8,ME10_BM9,BIG_HiBM,Mkt_RF,SMB,HML,RF
0,1926-07-01,NaN,-0.009,NaN,1.581,-3.089,4.631,2.561,3.801,-0.529,...,0.511,0.471,-0.379,-0.349,0.161,NaN,0.10,-0.24,-0.28,0.009
1,1926-07-02,NaN,-0.279,NaN,-0.009,-0.979,-4.109,0.301,-0.479,2.731,...,0.511,0.141,0.521,0.331,0.331,NaN,0.45,-0.32,-0.08,0.009
2,1926-07-06,NaN,1.001,NaN,-4.699,2.341,-1.799,-0.009,2.431,-5.189,...,-0.129,-0.189,-0.329,-0.519,-0.349,NaN,0.17,0.27,-0.35,0.009
3,1926-07-07,NaN,-1.679,NaN,4.911,0.501,5.261,-0.009,-0.749,-0.249,...,0.021,0.241,-0.229,0.501,0.161,NaN,0.09,-0.59,0.03,0.009
4,1926-07-08,NaN,-0.009,NaN,1.551,-0.519,-1.069,-0.009,4.891,0.441,...,-0.149,0.181,-0.049,0.331,0.501,NaN,0.21,-0.36,0.15,0.009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24869,2020-11-23,0.79,6.080,0.46,2.480,1.500,3.150,1.240,1.800,0.990,...,0.860,2.920,2.560,1.640,3.340,1.97,0.83,0.85,1.55,0.000
24870,2020-11-24,-0.40,-2.440,0.36,2.140,1.110,2.030,2.180,2.200,3.300,...,2.260,4.120,3.030,3.800,5.640,3.47,1.56,-0.15,2.74,0.000
24871,2020-11-25,2.42,-0.670,0.42,1.590,1.870,0.110,1.050,0.010,-0.770,...,-0.330,-1.250,-1.320,-0.400,-0.170,-2.24,0.03,0.01,-1.27,0.000
24872,2020-11-27,1.62,2.430,3.60,1.580,0.940,0.400,0.690,0.120,0.190,...,0.390,-0.650,-0.070,-0.550,-0.210,0.10,0.43,0.45,-1.66,0.000
24873,2020-11-30,0.05,-2.230,-0.53,-0.370,-0.740,1.820,-0.230,-1.130,-1.680,...,-1.410,-3.070,-2.030,-2.090,-2.720,-1.25,-0.53,-0.98,-2.05,0.000

In [42]:
# Rg.columns = Rg.columns.str.replace(' ', '_')

In [9]:
# a = CAPM.params, a[0] = intercept, a[1] = beta1, ...
alpha=[]
beta1=[]
beta2=[]
beta3=[]
col_list=Rg.columns.drop(['date','Mkt_RF','SMB','HML','RF'])
# Step1: Run time-series to get the market factor params.
for i in col_list:
    mod = smf.ols(formula= i+' ~ Mkt_RF + SMB + HML', data=Rg)
    FF = mod.fit()
    Params = FF.params
    alpha.append(Params[0])
    beta1.append(Params[1])
    beta2.append(Params[2])
    beta3.append(Params[3])
beta = pd.DataFrame(np.matrix([beta1,beta2,beta3]),index=['beta1','beta2','beta3'],columns=col_list)
beta

,SMALL_LoBM,ME1_BM2,ME1_BM3,ME1_BM4,ME1_BM5,ME1_BM6,ME1_BM7,ME1_BM8,ME1_BM9,SMALL_HiBM,...,BIG_LoBM,ME10_BM2,ME10_BM3,ME10_BM4,ME10_BM5,ME10_BM6,ME10_BM7,ME10_BM8,ME10_BM9,BIG_HiBM
beta1,1.120860,0.964118,1.008792,1.009981,0.944948,0.845706,0.838202,0.782814,0.799502,0.827285,...,1.049456,0.985856,0.945758,1.024202,0.951140,0.974749,1.029942,1.014477,1.123411,1.347887
beta2,1.174374,0.890177,1.220208,1.201430,1.202025,1.071775,1.070473,1.017541,1.004545,1.100238,...,-0.232472,-0.181337,-0.188390,-0.278495,-0.264600,-0.332168,-0.287876,-0.301329,-0.253662,-0.168366
beta3,0.063376,-0.055854,-0.026794,0.221413,0.174978,0.350239,0.394918,0.474441,0.516837,0.660683,...,-0.340924,-0.197821,-0.142306,0.096594,0.148696,0.313680,0.454786,0.796348,1.066970,1.043032